.button {
  display: block;
  box-sizing: border-box;
  min-height: 52px;
  padding: 14px;
  text-align: center;
  color: $iron;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 2px solid $iron;

  @include font(17px, 20px, bold);

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: $iron;
    outline: none;
    cursor: pointer;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    outline: none;
  }
}
