.cart {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-top: 26px;
  padding-right: 30px;
  padding-bottom: 29px;
  padding-left: 75px;
}

.cart__icon {
  position: absolute;
  top: 28px;
  left: 30px;
}

.cart__number {
  margin-left: 5px;
}

@media (min-width: $tablet) {
  .cart {
    width: auto;
    padding-top: 30px;
    padding-right: 0;
    padding-left: 84px;
  }

  .cart__icon {
    top: 33px;
    left: 34px;
  }
}
