.catalog-item__photo {
  border-bottom: 0;

  &:hover,
  &:active {
    border-bottom: 0;
  }
}

.catalog-item__photo img {
  display: block;
  width: 100%;
  height: auto;
}

.catalog-item__info {
  box-sizing: border-box;
  min-width: 260px;
  padding-right: 30px;
  padding-left: 30px;

  &:hover {
    box-shadow: 0 6px 10px $fog-dark;
  }

  &:active {
    box-shadow: 0 3px 5px $fog-dark;
  }
}

.catalog-item__title {
  display: block;
  padding-top: 25px;
  padding-bottom: 10px;

  color: #000000;
  border-bottom: 0;

  @include font(17px, 24px, bold);

  &:hover,
  &:active {
    border-bottom: 0;
  }
}

.catalog-item__title h2 {
  margin: 0;
  font-size: inherit;
}

.catalog-item__description {
  margin-top: 0;
  margin-bottom: 25px;

  color: $iron;

  @include font(13px, 20px, normal);
}

.catalog-item__price {
  position: relative;
  width: 100%;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 28px;
  text-align: left;
  color: #000000;

  background-color: transparent;
  border: 0;
  border-top: 1px solid $fog-dark;
  outline: 0;

  cursor: pointer;
  fill: rgba(0, 0, 0, 0.2);

  @include font(15px, 24px, bold);

  &:hover {
    fill: $mint;
  }

  &:active {
    fill: rgba(99, 209, 187, 0.3);
  }
}

.catalog-item__price svg {
  position: absolute;
  right: 0;
  bottom: 32px;
  fill: inherit;
}

@media (min-width: $tablet) {
  .catalog-item {
    display: flex;
    min-height: 310px;
  }

  .catalog-item__photo {
    width: 50%;
  }

  .catalog-item__info {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .catalog-item__title {
    @include font(20px, 24px, bold);
  }

  .catalog-item__description {
    @include font(15px, 30px, normal);
  }

  .catalog-item__price {
    margin-top: auto;
    padding-top: 24px;

    @include font(17px, 24px, bold);
  }
}

@media (min-width: $desktop) {
  .catalog-item {
    flex-direction: column;
  }

  .catalog-item__photo {
    width: 100%;
    height: 462px;
  }

  .catalog-item__info {
    flex-grow: 1;
    width: 100%;
  }

  .catalog-item__title {
    padding-top: 22px;
    padding-bottom: 8px;
  }

  .catalog-item__description {
    margin-bottom: 10px;
  }
}
