.catalog-list {
  max-width: 1050px;
  margin: 0;
  margin-right: 30px;
  margin-left: 30px;
  padding: 0;
  list-style: none;
  line-height: 0;
}

.catalog-list__item {
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  border: 1px solid $fog-dark;
}


@media (min-width: $tablet) {
  .catalog-list {
    margin-right: 50px;
    margin-left: 50px;
  }

  .catalog-list__item {
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop) {
  .catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .catalog-list__item {
    width: 314px;
    margin-right: 50px;
  }

  .catalog-list__item:nth-child(3n) {
    margin-right: 0;
  }
}
