.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: block;
  color: #000000;
  text-decoration: none;
  font-style: bold;
  border-top: 1px solid $fog-dark;
  border-bottom: 0;
  fill: rgba(#000000, 0.2);

  @include font;

  &:hover {
    color: rgba(#000000, 0.6);
    border-bottom: 0;
    fill: $mint;
  }

  &:active {
    border-bottom: 0;
    opacity: 0.3;
  }
}

.main-nav__item a {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding-top: 23px;
  padding-right: 30px;
  padding-bottom: 25px;
  padding-left: 75px;

  font-weight: bold;
  color: #000000;

  border-bottom: 0;

  &:hover {
    color: rgba(#000000, 0.6);
    border-bottom: 0;
  }

  &:active {
    color: rgba(#000000, 0.3);
    border-bottom: 0;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  width: 21px;
  height: 21px;
}

.main-nav--closed .main-nav__toggle::before {
  top: 22px;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
}

.main-nav--opened .main-nav__toggle::before {
  background-image: url("../img/icon-menu-close.svg");
  background-repeat: no-repeat;
}

@media (max-width: $tablet - 1px) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }
}

@media (min-width: $tablet) {
  .main-nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    min-height: 88px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    position: absolute;
    top: 90px;
    left: -112px;
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
  }

  .main-nav__item {
    border-top: 0;
  }

  .main-nav__item a {
    padding-top: 15px;
    padding-right: 35px;
    padding-bottom: 0;
    padding-left: 0;

    @include font (15px, 24px, bold);
  }
}

@media (min-width: $desktop) {
  .main-nav__list {
    top: 0;
    left: 0;
  }

  .main-nav__item {
    padding-left: 30px;
    border-right: 1px solid $fog-dark;
  }

  .main-nav__item:last-child {
    border-right: 0;
  }

  .main-nav__item:first-child {
    padding-left: 0;
  }

  .main-nav__item--search {
    padding-left: 0;
  }

  .main-nav__item--cart {
    padding-left: 85px;
  }

  .main-nav__item a {
    padding-top: 30px;
    padding-bottom: 35px;

    @include font(17px, 24px, bold);
  }
}
