.page-main__title {
  min-height: 175 - 70px - 70px - 30px;
  margin: 0;
  margin-bottom: 30px;
  padding: 30px;
  padding-top: 70px;
  padding-bottom: 70px;

  @include font(27px, 30px, bold);
  color: #000000;
  text-align: center;
  background-color: $fog;
}

.page-main__title--index {
  min-height: 280px - 75px - 75px;
  margin-bottom: 0;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -17px;
  background-color: #f9f9f9;
}

@media (min-width: $tablet) {
  .page-main__title {
    min-height: 226px - 100px - 80px - 30px;
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 80px;

    @include font(43px, 50px, bold);
  }

  .page-main__title--index {
    min-height: 746px - 160px - 50px - 30px;
    padding-top: 160px;

    background-position: 50% 0;
  }
}

@media (min-width: $desktop) {
  .page-main__title {
    min-height: 255px - 100px - 100px - 30px;
    padding-bottom: 100px;

    @include font(53px, 57px, bold);
  }

  .page-main__title--index {
    min-height: 746px - 160px - 50px - 30px;
    padding-top: 160px;
  }
}
