.page-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;

  color: $iron;
  font-style: normal;
  background-color: #ffffff;

  @include font(15px, 24px, normal);
}

a {
  padding-bottom: 4px;
  color: $iron;
  text-decoration: none;
  border-bottom: 1px solid $mint;

  @include font(17px, 30px, normal);

  &:hover {
    color: $mint-light;
  }

  &:active {
    color: rgba($mint, 0.3);
    border-bottom: 1px solid rgba($mint, 0.1);
  }
}
