.page-header {
  background-color: #ffffff;
  border-top: 1px solid $fog-dark;
  border-bottom: 1px solid $fog-dark;
}

.page-header__container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1050px;
  margin: 0 auto;
}

.page-header__logo {
  align-self: center;
  padding-top: 22px;
  padding-bottom: 12px;
  border: 0;

  &:hover {
    border-bottom: 0;
    cursor: pointer;
    opacity: 0.6;
  }

  &:active {
    border-bottom: 0;
    cursor: pointer;
    opacity: 0.3;
  }
}

.page-header__additional-nav {
  display: none;
}

.page-header__delivery {
  display: none;
}

@media (min-width: $tablet) {
  .page-header {
    z-index: 1;
    height: 88px;
    border-top: 0;
  }

  .page-header__container {
    flex-direction: row;
    padding-right: 50px;
    padding-left: 50px;
  }

  .page-header__delivery {
    position: absolute;
    top: 90px;
    right: 50px;
    display: block;
    max-width: 40%;
    padding-top: 15px;
    text-align: right;
  }
}

@media (min-width: $desktop) {
  .page-header__logo {
    padding-bottom: 0;
    padding-top: 0;
    position: absolute;
    top: 6px;
    left: calc(50% - 75px);
    z-index: 2;
  }

  .page-header__additional-nav {
    position: absolute;
    top: 105px;
    left: 50px;
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
  }
}
