.page-body {
  padding: 0;
  margin: 0;

  font-family: "Open Sans", "Arial", sans-serif;

  @include font(15px, 24px, normal);
  font-style: normal;

  color: $iron;
  background-color: #ffffff;
}

a {
  padding-bottom: 4px;

  @include font(17px, 30px, normal);
  color: $iron;
  text-decoration: none;
  border-bottom: 1px solid $mint;

  &:hover {
    color: $mint-light;
  }

  &:active {
    color: rgba($mint, 0.3);
    border-bottom: 1px solid rgba($mint, 0.1);
  }
}
