.page-footer {
  width: 100%;
  margin-top: auto;
  background-color: $fog;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1050px;
  margin: 0 auto;
  padding: 30px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: -10px;
  padding: 0;
}

.page-footer__developer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  color: #000000;
  text-decoration: none;
  border-top: 1px solid #e5e5e5;
  border-bottom: 0;
  fill: $mint;

  @include font(19px, 18px, bold);

  &:hover {
    color: #000000;
    border-bottom: 0;
    fill: $mint-light;
  }

  &:active,
  &:focus {
    outline: 0;
    opacity: 0.3;
    fill: $mint;
  }
}

.page-footer__developer-logo {
  margin-left: 30px;
}

@media (min-width: $tablet) {
  .page-footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    min-height: 145px;
    padding-top: 49px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 50px;
  }

  .page-footer__logo {
    display: block;
    margin-top: 4px;
    border-bottom: 0;

    &:hover,
    &:focus {
      border-bottom: 0;
      outline: none;
      cursor: pointer;
      fill: $mint-light;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-footer__social {
    margin: 0;
    margin-left: 72px;
  }

  .page-footer__developer {
    width: auto;
    padding: 0;
    border-top: 0;
  }
}
