.product {
  display: flex;
  flex-direction: column;
  max-width: 1050px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 30px;

  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.product__container-title {
  margin-bottom: 20px;
}

h2.product__title {
  margin-bottom: 0;
}

.product__lable {
  color: $mint;
  text-transform: uppercase;

  @include font(17px, 17px, bold);
}

.product__description {
  margin: 0;
  margin-bottom: 18px;
}

.product__features {
  width: 100%;
  margin-bottom: 28px;
  border-collapse: collapse;
}

.product__features tr {
  border-bottom: 1px solid $fog-dark;
}

.product__attribute {
  min-width: 75px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.product__price {
  margin-top: 0;
  margin-bottom: 25px;
  text-align: center;

  @include font();
}

.product__photo {
  max-width: 390px;
  margin: 0 auto;
  margin-bottom: 25px;
  line-height: 0;
}

.product__photo img {
  width: 100%;
  height: auto;
}

@media (min-width: $tablet) {
  .product {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 50px;
    padding-right: 50px;
    padding-bottom: 70px;
    padding-left: 50px;
  }

  .product__container-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
  }

  .product__lable {
    width: 125px;
    text-align: center;
  }

  .product__container-info {
    align-self: flex-start;
    box-sizing: border-box;
    width: 50%;
    padding-right: 45px;
  }

  .product__description {
    margin-bottom: 30px;

    @include font(17px, 30px, normal);
  }

  .product__attribute {
    min-width: 65px;
  }

  .product__price {
    align-self: flex-start;
    width: calc(50% - 45px);
    margin: 0;
    margin-top: -110px;

    @include font(20px, 24px, bold);
  }

  .product__order {
    box-sizing: border-box;
    width: calc(50% - 45px);
    margin: 0;
    margin-top: -100px;
    margin-right: calc(50% - 45px);
  }

  .product__photo {
    width: 50%;
    max-width: 100%;
    margin: 0;
    margin-top: 5px;
  }
}

@media (min-width: $desktop) {
  .product {
    padding-bottom: 100px;
    background-size: 1050px;
  }

  .product__container-title {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .product__lable {
    box-sizing: border-box;
    width: 175px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .product__container-info {
    width: calc(50% - 175px - 60px);
    margin-right: 60px;
    margin-left: 175px;
    padding-right: 0;
  }

  .product__description {
    margin-bottom: 45px;
  }

  .product__price {
    width: calc(50% - 175px - 60px);
    margin-left: 175px;
  }

  .product__order {
    width: calc(50% - 175px - 60px);
    margin-left: 175px;
  }

  .product__photo {
    z-index: -1;
    width: 525px;
    height: auto;
    margin-top: -160px;
  }
}
