.promo {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}

.promo__item {
  box-sizing: border-box;
  min-height: 103px;
  padding: 30px;
  padding-top: 26px;
  display: block;

  @include font(19px, 24px, bold);
  color: #ffffff;
  text-decoration: none;
  border-bottom: 0;

  cursor: pointer;

  &:hover {
    color: #ffffff;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
    border-bottom: 0;
  }
}

.promo__item--interior {
  position: relative;
  background-color: $mint;

  &::after {
    content: "";
    width: 40px;
    height: 62px;
    display: block;
    position: absolute;
    top: 24px;
    right: 36px;
    background-color: $mint-dark;
  }
}

.promo__item--toys {
  position: relative;
  background-color: $mint-dark;

  &::after {
    content: "";
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    top: 20px;
    right: 27px;
    background-color: $mint;
  }
}

@media (min-width: $tablet) {
  .promo {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 45px;
    flex-direction: row;
    position: relative;
  }

  .promo__item {
    min-height: 120px;
    margin-top: -120px;
    padding-left: 35px;
    padding-top: 28px;
    width: 100%;

    @include font(20px, 30px, bold);
  }

  .promo__item--interior {
    &::after {
      top: 30px;
    }
  }

  .promo__item--toys {
    &::after {
      top: 30px;
      right: 35px;
    }
  }
}

@media (min-width: $desktop) {
  .promo {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
  }
}
