.search {
  position: relative;
  cursor: pointer;
}

.search__label {

  display: block;
  margin-left: 75px;
  padding-top: 26px;
  padding-right: 30px;
  padding-bottom: 28px;
}

.search__icon {
  position: absolute;
  top: 29px;
  left: 32px;
}

.search__input {
  position: absolute;
  top: 0;
  left: 75px;

  z-index: -1;
  width: calc(100% - 75px);
  padding-top: 24px;
  padding-bottom: 27px;
  color: $iron;
  border: 0;
  border-bottom: 1px solid $fog;

  outline: none;

  @include font (17px, 27px, normal);

  &:focus {
    z-index: 1;
  }
}

.search__button {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;

  background-color: transparent;
  border: 0;

  &:focus {
    outline: 2px solid $fog;
    opacity: 0.5;
  }
}

@media (min-width: $tablet) {
  .search {
    min-width: 83px;
    border-right: 1px solid $fog-dark;
    border-left: 1px solid $fog-dark;
  }

  .search__label {
    padding-right: 0;
    padding-left: 0;
  }

  .search__icon {
    top: 34px;
  }

  .search__label span {
    display: none;
  }

  .search--closed {
    .search__button,
    .search__input {
      display: none;
    }
  }
}
