.section-title {
  margin: 0;
  margin-bottom: 30px;
  color: #000000;

  @include font(25px, 30px, bold);
}

@media (min-width: $tablet) {
  .section-title {
    @include font(43px, 50px, bold);
  }
}

@media (min-width: $desktop) {
  .section-title {
    @include font(53px, 57px, bold);
  }
}
