// @import "normalize";
@import "fonts.scss";
@import "variables.scss";
@import "mixins.scss";
@import "blocks/advantages.scss";
@import "blocks/button.scss";
@import "blocks/cart.scss";
@import "blocks/catalog-item.scss";
@import "blocks/catalog-list.scss";
@import "blocks/main-nav.scss";
@import "blocks/page-body.scss";
@import "blocks/page-footer.scss";
@import "blocks/page-header.scss";
@import "blocks/page-main.scss";
@import "blocks/product.scss";
@import "blocks/promo.scss";
@import "blocks/search.scss";
@import "blocks/section-title.scss";
@import "blocks/social.scss";
@import "blocks/visually-hidden.scss";
